body, html {
    background-color:whitesmoke;
    font-family: 'Open Sans Condensed, Sans';
    font-size: medium;
    height: 100%;
}
/*Nav and responsive Nav Css*/
.nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: blue;
    opacity: 0.5;
    overflow: hidden;
    text-decoration: none;
}

i {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
  }

.nav a {
    display: none;
}

  .nav a:hover {
      background-color: orange;
      color: white;
  }

  .nav a.icon{
      float: left;
      display: block;
  }

  .nav.responsive {
      position: relative;
    }

  .nav.responsive .icon {
    position: relative;
    right: 0;
    top: 0;
  }

  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }


/*Style for headers*/
h1 {
    text-align: center;
    font-family: 'Pacifico';
}

h2 {
    text-align: Center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

/*Hero Img Styling*/
.hero-container {
    background-image: linear-gradient(rgba(1, 1, 1, 0.205), rgba(0, 0, 0, 0.205)), url('../IMG/FILM_Apart.jpg');
    height: 35%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: none;
}

.hero-text {
    text-align: center;
    color: azure;
    top: 50%;
    left: 50%;
    
}
/* Slide Show Styling*/
.bfa-container1 {
    background-color: aquamarine;
}

.bfa-container1, .personal-container1 {
background-color: aquamarine;
display: flex;
flex-direction: row;
position: relative;
margin: auto;
border: 5px solid ;
width: 75%;
margin-bottom: 25px;
;
}




.bfa-container, .personal-container {
    background-color: aquamarine;
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-bottom: 25px;
    
}




.personal-slideshow, .bfa-slideshow{
display: none;
}

.bfa-slideshow img{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    max-height: 1000px;
    min-height: auto;
    margin: 0;
    flex-direction: row;
}

.personal-slideshow img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    max-height: 1000px;
}
/*Style for previous and next buttons*/
.prev, .next {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }



.bfa-slideshow-text, .personal-slideshow-text {
    color: yellow;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


 /*Contact Form Styles*/

.contact-container {
    background-color: #ff7f50;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    border: 1px solid ;
    width: 100%;
} 

h3 {
    text-align: center;
    font-family: 'Cambria, Cochin, Georgia, Times, 'Times New Roman', serif';
    font-size: 24px;
}

.contact-container1 {
    display: flex;
    justify-content: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
}

.contact-form{
    width: 50%;
    height: 100%;
}

.send-button {
    display: flex;
    justify-content: center;
}

.square-button {
    display: flex;
    justify-content: center;
}

label {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin-right: 5px;
}

.form-control {
display: flex;
justify-content: center;
width: 50%;
margin: 5px 5px 5px 3px;
}
/* End of Contact form styles, Begging of footer styles*/

footer {
    background-color: blue;
    opacity: 0.5;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}



.social-media {
margin-top: 15px;
margin-left: 15px;
text-align: end;
}



/*Desktops*/
@media screen and (min-width: 1000px) {
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .nav a {
        display: inline;
    }

    .icon-container {
        display: none;
    }

    .align {
        display: flex;
        flex-direction: row;
    }

    .bfa-container1, .personal-container1 {
        display: flex;
        flex-direction: row;
        position: relative;
        margin: auto;
        border: 5px solid ;
        background-color: aquamarine;
        width: 50%;
        margin-right: 50px;
        }
        

    .slidshow-title {
        display: flex;
        justify-content: space-between;
    }

    .personal-slideshow img{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        max-height: 700px;
    }

    .prev:hover, .next:hover {
        background-color: rgba(255, 131, 100, 0.534);
      }

    .contact-container {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }

    .form-control {
        display: flex;
        justify-content: center;
        width: 97.8%;
        margin: 5px 5px 5px 3px;
        }

        label {
            display: flex;
            justify-content: center;
            text-align: center;
            margin-right: 5px;
        }

}

@media screen and (min-width:768px){
.nav {
    display: flex;
    flex-direction: row;
}
.nav a:nth-child(2) {
    display: inline;
}

    .contact-container {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }

    .form-control {
        display: flex;
        justify-content: center;
        width: 97.8%;
        margin: 5px 5px 5px 3px;
        }

        label {
            display: flex;
            justify-content: center;
            text-align: center;
            margin-right: 5px;
        }
}